<h1>Names and Repos</h1>
<%= link_to "На главную", gitusers_path %>
<p>Логин: <%= @log %> | Имя:  <%= @name %></p
<caption>Репозитории <%= @log %></caption>
<ul>
<% @list.each do |x| %>
  <li><%= x %></li>
<% end %>
</ul>